{% if page.menubar or page.menubar_toc %}
    {% assign has_left_sidebar = true %}
{% endif %}

{% if page.show_sidebar and has_left_sidebar  %} 
    {% assign content_width = 'is-4' %} 
{% elsif page.show_sidebar or has_left_sidebar %} 
    {% assign content_width = 'is-8' %} 
{% else %} 
    {% assign content_width = 'is-12' %} 
{% endif %}

<!DOCTYPE html>
<html {% if site.fixed_navbar %} class="has-navbar-fixed-{{ site.fixed_navbar }}" {% endif %} lang="en">    
  {% include head.html %}
  <body>
    <section class="section">
        <div class="container">
            <div class="columns">
                {% if page.menubar_toc %}
                <div class="column is-4-desktop is-4-tablet">
                    {% assign contentsTitle = page.toc_title | default: 'Contents' %}
                </div>
                {% elsif page.menubar %}
                <div class="column is-4-desktop is-4-tablet">
                </div>
                {% endif %}
                <div class="column {{ content_width }}">
                    {{ content }}
                </div>
                {% if site.posts and page.show_sidebar %}
                <div class="column is-4-desktop is-12-tablet">
                </div>
                {% endif %}
            </div>
        </div>
    </section>
    {% unless page.hide_footer %}
    {% endunless %}
    <script src="{{ site.baseurl }}/assets/js/app.js" type="text/javascript" defer></script>
  </body>
</html>